
/* 
=============
SWITCH BUTTON

adapted from:
    UCSD Coding Bootcamp (https://git.bootcampcontent.com/University-of-California---San-Diego/UCSD-VIRT-FSF-PT-09-2023-U-LOLC/-/blob/d5e6546770e3a300de6659bbe57c3cc0da5bb293/04-Web-APIs/01-Activities/11-Ins_Event-Listener/assets/css/style.css)
    W3Schools (https://www.w3schools.com/howto/howto_css_switch.asp)
=============
*/

/* switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
}

/* disable default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* toggle switch */
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-toggle); /* light mode toggled ON */
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: var(--tokyo-toggle); /* toggle switch button */
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle {
    background-color: var(--storm-toggle); /* dark mode toggled ON */
}

input:focus + .toggle {
    box-shadow: #0f0f14;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}

/* style round toggle switch */
.toggle.round {
    border-radius: 26px;
}

.toggle.round:before {
    border-radius: 50%;
}

 
/* 
=================
GRID & GRID ITEMS
=================
*/
